.container.detil{
	height:100%;
	min-height:100%;
}
.container.detil .row{
	height:100%;
	min-height:100%;
}
.container.detil .row .col-lg-9{
	height:100%;
	min-height:100%;
}
.dataTables_wrapper{
	float: left;
	width: 100% !important;
	margin-bottom: 0px !important;
}
.dataTables_scroll{
	height:calc(100% - 80px);
	min-height:calc(100% - 80px);
}
.dataTables_scrollBody{
	height:calc(100% - 40px);
	min-height:calc(100% - 40px);
	border:none !important;
}
.paginate_button{ height:30px !important;}
.dataTables_info{ line-height:20px;}
.dataTables_paginate { padding-top:0px !important;}
.dataTables_paginate a{
	background:#1561ae;
	color:#FFF;
	margin-right:3px;
	padding: 0px 10px 0px;
	display:inline-block;
}
.dataTables_paginate a.fg-button.ui-button.ui-state-default {
	
	height: 30px;
	line-height: 24px;
}
.dataTables_paginate a:hover{
}
.dataTables_paginate a.fg-button.ui-button.ui-state-default.ui-state-disabled{
	background:#e1e1e1;
	color: #FFF !important;
	opacity: 1;
}
.dataTables_paginate a.ui-state-disabled:hover{
	color:#727272;
	text-decoration:none;
}

/****/
.col-lg-12 ul.breadcrumb{
	padding-left:175px;
	margin-bottom:0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.col-lg-12 ul.breadcrumb li a{
}

/****/
.col-lg-12.konten-monitoring{
	height:100%;
	min-height:100%;
}